*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.menu {
    width: 90%;
    height: 50px;
    margin-top: 1em;
    background-color: aqua;
}

.main-header {
    width: 90%;
    height: 150px;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: blueviolet;
}